@import './../../../Assets/Abstracts/variables';
@import './../../../Assets/Abstracts/mixins.scss';

.component {
    background: #FFFFFF;
    border: 1px solid color(borderGrey);
    border-radius: 4px;
    position: relative;
    margin: 7px;
    padding: 1px;
    transition: all .2s;
    cursor: pointer;

    img {
        border-radius: 4px 4px 0 0;
        height: 17rem;
        object-fit: cover;
        width: 17rem;
    }

    &Div {
        @include flexPosition;
        flex-direction: column;
        width: 100%;
        padding: 8px 0;

        &Name {
            font-weight: 600;
            font-size: size(xs) - .2rem;
            line-height: 18px;
            text-align: center;
            color: color(dark);
            margin-bottom: 4px;
        }

        &Stock {
            text-align: center;
            font-size: size(xs) - .4rem;
            color: color(dark);
        }
    }

    &:hover {
        background-color: color(lightgrey);
    }
}

.checkout {
    background: color(lightgrey);
    border-width: 0;
    cursor: default;
    margin: 0;

    img {
        border-radius: 4px;
    }
}