@import './../../../Assets/Abstracts/variables';
@import './../../../Assets/Abstracts/mixins.scss';

.quantity {
    width: 100px;
    margin-left: 15px;
}

.component, .team {
    width: 100%;
}

